body {
    font-family: monospace;
    
}

a
{
    text-decoration: none;
}

div.main_div {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 45%;
}

.big_name {
	font-size: x-large;
}

.medium_name {
	font-size: medium;
}

.floated_img
{
    width:  200px;
    height: 200px;
    margin: 15px;
    float: left;
}

.exper_image
{
    max-width:  200px;
    max-height: 200px;
}

